
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LuftBurnLayout.cshtml";
}


    <div class="card border-light mb-3 mt-3">
        <div class="card-header"><i class="fa fa-group"></i> Users</div>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>